<h1>Listing all words:</h1>
 
<table>
  <tr>
    <th>Word</th>
    <th>Type</th>
  </tr>
 
  <% @words.each do |w| %>
    <tr>
      <td><%= w.ord %></td>
      <td><%= w.klasse %></td>
      <td><%= link_to 'Show', word_path(w) %></td>
      <td><%= link_to 'Edit', edit_word_path(w) %></td>
      <td><%= link_to 'Destroy', word_path(w),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>